includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        
    ignoreErrors:
        - 
            message: '#Undefined variable: \$this.*#'
            path: src/Macros
    checkMissingIterableValueType: false

